In [14]:
import pandas as pd

"""
This is meant to sample data for the demo since there are thousands of entries and the script
to populate the data only inserts at about 100 entires per minute.

Place the csv in the uppermost directory.
"""

'\nThis is meant to sample data for the demo since there are thousands of entries and the script\nto populate the data only inserts at about 100 entires per minute.\n\nPlace the csv in the uppermost directory.\n'

In [15]:
df = pd.read_csv('../pollution_us_2000_2016.csv', delimiter=',')
df = df.drop(columns=['Unnamed: 0'])
df

,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,NO2 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,19.041667,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,22.958333,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,1.083333,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,0.939130,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [16]:
# Sample 250 datapoints with a seed of 43
sample = df.sample(n=500, random_state=43)
sample.to_csv('../sampleData.csv', index=False)  
sample

,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,NO2 Mean,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
362051,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2004-09-22,Parts per billion,33.125000,...,Parts per billion,4.916667,11.0,6,16.0,Parts per million,0.895833,2.200,6,NaN
9664,6,25,5,"1029 ETHEL ST, CALEXICO HIGH SCHOOL",California,Imperial,Calexico,2000-04-01,Parts per billion,20.521739,...,Parts per billion,1.000000,8.0,20,11.0,Parts per million,0.852174,4.900,20,NaN
997534,6,65,8001,"5888 MISSION BLVD., RUBIDOUX",California,Riverside,Rubidoux,2010-03-18,Parts per billion,24.250000,...,Parts per billion,2.325000,3.3,17,NaN,Parts per million,0.515385,0.900,8,10.0
1710091,48,141,44,800 S San Marcial Street,Texas,El Paso,El Paso,2015-06-02,Parts per billion,10.216667,...,Parts per billion,0.341667,1.1,6,1.0,Parts per million,0.168833,0.492,6,NaN
1600358,4,13,9997,4530 N 17TH AVENUE,Arizona,Maricopa,Phoenix,2015-05-01,Parts per billion,19.208333,...,Parts per billion,1.100000,1.6,2,NaN,Parts per million,0.550000,0.900,1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1614788,6,25,5,"1029 ETHEL ST, CALEXICO HIGH SCHOOL",California,Imperial,Calexico,2015-10-10,Parts per billion,14.913043,...,Parts per billion,0.504348,1.2,19,1.0,Parts per million,0.270833,0.600,23,7.0
1315446,48,141,44,800 S San Marcial Street,Texas,El Paso,El Paso,2012-10-29,Parts per billion,30.000000,...,Parts per billion,2.962500,10.1,20,NaN,Parts per million,1.113708,4.306,20,NaN
12816,6,37,1103,"1630 N MAIN ST, LOS ANGELES",California,Los Angeles,Los Angeles,2000-08-19,Parts per billion,36.652174,...,Parts per billion,0.657143,2.0,8,NaN,Parts per million,1.134783,2.300,5,NaN
457347,6,37,1002,"228 W. PALM AVE., BURBANK",California,Los Angeles,Burbank,2005-10-12,Parts per billion,52.695652,...,Parts per billion,1.985714,3.3,8,NaN,Parts per million,1.043478,2.000,7,NaN
857854,51,59,5,CUB RUN LEE RD CHANT.(CUBRUN TREAT PLANT,Virginia,Fairfax,Not in a city,2008-06-10,Parts per billion,5.500000,...,Parts per billion,2.208333,13.0,11,19.0,Parts per million,0.425000,0.800,8,NaN